*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
 
}

.message{
  width: 400px;
  margin-top: 10px;
  padding: 5px 10px;
  background: #eee;
  border-radius: 5px;
}

.message.sent{
  background: lightgreen;
}

.message.received{
  background: lightsalmon;
}

.message .message-time{
  text-align: right;
  font-size: 12px;
}